.profile__edit-button{
  background: transparent;
  border: 1px solid #FFFFFF;
  width: 26px;
  height: 24px;
  position: relative;
  top: 3px;
  cursor: pointer;
  padding: 0;
  transition:  0.2s ease-out;
}
.profile__edit-button:hover{
  opacity: 0.5;
}

@media (max-width:690px){
  .profile__edit-button{
    width: 20px;
    height: 18px;
  }
}
